<div class="container">
  <form
    [formGroup]="form"
    (submit)="login()"
    class="d-flex flex-column align-items-center justify-content-center gap-3 mx-auto"
    style="max-width: 600px"
  >
    <h1 class="text-center fw-normal fs-1">Olá, seja bem-vindo!</h1>
    <input
      type="text"
      class="form-control"
      placeholder="Digite o seu nome:"
      formControlName="name"
    />
    <button
      type="submit"
      class="btn btn-primary text-white w-100 fs-5"
      style="font-weight: 600"
      [disabled]="form.invalid"
    >
      Entrar
    </button>
  </form>
</div>
