<div class="card bg-body-tertiary">
  <div class="card-body">
    <h5 class="card-title text-center">{{ item.name }}</h5>
    <div class="card-info">
      <p class="card-text text-center">
        <strong>Salário:</strong>
        <span>
          {{ item.salary.toFixed(2)
                      | mask
                      : 'separator.2'
                      : {
                        thousandSeparator: '.',
                        decimalMarker: ',',
                        prefix: 'R$',
                      }
          }}
        </span>
      </p>
      <p class="card-text text-center">
        <strong>Empresa:</strong>
        <span>
          {{ item.companyValuation.toFixed(2)
                      | mask
                      : 'separator.2'
                      : {
                        thousandSeparator: '.',
                        decimalMarker: ',',
                        prefix: 'R$',
                      }
          }}
        </span>
      </p>
    </div>
    <div class="d-flex justify-content-between gap-2">
      <button
        class="btn"
        id="toggle-selection"
        [class.text-success]="!isSelected && !isSelectedCustomersPage"
        [class.text-danger]="isSelected || isSelectedCustomersPage"
        (click)="toggleSelection()"
      >
        <i
          class="fas"
          [class.fa-plus]="!isSelected && !isSelectedCustomersPage"
          [class.fa-minus]="isSelected || isSelectedCustomersPage"
        ></i>
      </button>
      @if (!isSelectedCustomersPage) {
      <button
        class="btn text-secondary"
        (click)="onEdit.emit(item)"
        data-bs-toggle="modal"
        data-bs-target="#modalCreate"
      >
        <i class="fas fa-pen"></i>
      </button>
      <button
        class="btn text-danger"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
        (click)="onDelete.emit(item)"
      >
        <i class="fas fa-trash"></i>
      </button>
      }
    </div>
  </div>
</div>
