<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-loader"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="container-fluid mt-5 px-5">
  <div class="row mb-3">
    <div class="col-12">
      <h4 class="fw-semibold">Clientes selecionados</h4>
    </div>
  </div>
  <div class="row gy-4">
    @for (customer of customers; track customer.id) {
    <app-card class="col-md-4 col-lg-4 col-xl-3 col-2xl-2" [item]="customer" />
    }
  </div>
  <div class="row w-100 m-auto mt-3">
    <button
      class="btn btn-outline-primary col-12"
      data-bs-toggle="modal"
      data-bs-target="#modalCreate"
    >
      Limpar clientes selecionados
    </button>
  </div>
</div>
