<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        {{ isEditMode ? "Editar cliente" : "Criar cliente" }}
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        #closeModal
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" class="d-flex flex-column gap-3">
        <app-input-text
          label="Nome"
          [control]="getControl('name')"
          placeholder="Nome do cliente"
        />

        <app-input-text
          label="Salário"
          [control]="getControl('salary')"
          placeholder="R$ 0,00"
          [currency]="true"
        />

        <app-input-text
          label="Valor da empresa"
          [control]="getControl('companyValuation')"
          placeholder="R$ 0,00"
          [currency]="true"
        />
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary text-white"
        [disabled]="form.invalid"
        (click)="save()"
      >
        {{ isEditMode ? "Atualizar" : "Salvar" }}
      </button>
    </div>
  </div>
</div>
