<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Criar cliente</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="mb-3 d-flex gap-2 align-items-center">
          <label for="name" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nome do cliente"
            formControlName="name"
          />
        </div>
        <div class="mb-3 d-flex gap-2 align-items-center">
          <label for="salary" class="form-label">Salário:</label>
          <input
            type="number"
            class="form-control"
            id="salary"
            placeholder="R$ 0,00"
            formControlName="salary"
          />
        </div>
        <div class="mb-3 d-flex gap-2 align-items-center">
          <label
            for="companyValuation"
            class="form-label"
            style="text-wrap: nowrap"
            >Valor da empresa:</label
          >
          <input
            type="number"
            class="form-control"
            id="companyValuation"
            placeholder="R$ 0,00"
            formControlName="companyValuation"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary text-white">Salvar</button>
    </div>
  </div>
</div>
