<div class="container-fluid mt-5 px-5">
  <div class="row mb-3">
    <div class="col-12">
      <h4 class="fw-normal">
        <span class="fw-bold">16</span>
        clientes encontrados:
      </h4>
    </div>
  </div>
  <div class="row gy-4">
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      name="Eduardo"
      [companyValue]="120000"
      [salary]="2000"
    />
  </div>
  <div class="row mt-3">
    <button class="btn btn-outline-primary col-12">
      <i class="fas fa-plus"></i> Criar cliente
    </button>
  </div>
  <ngb-pagination
    [collectionSize]="120"
    [(page)]="page"
    [maxSize]="5"
    class="d-flex justify-content-center mt-3"
  />
</div>
