<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-loader"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="container-fluid mt-5 px-5">
  <div class="row mb-3">
    <div class="col-12">
      <h4 class="fw-semibold">Lista de clientes</h4>
    </div>
  </div>
  <div class="row gy-4">
    @for (customer of customers; track customer.id) {
    <app-card
      class="col-md-4 col-lg-4 col-xl-3 col-2xl-2"
      [item]="customer"
      (onDelete)="openDeleteModal($event)"
      (onEdit)="openEditModal($event)"
    />
    }
  </div>
  <div class="row w-100 m-auto mt-3">
    <button
      class="btn btn-outline-primary col-12 fw-semibold"
      data-bs-toggle="modal"
      data-bs-target="#modalCreate"
      (click)="openCreateModal()"
    >
      <i class="fas fa-plus"></i> Criar cliente
    </button>
  </div>

  @if(customers.length > 0) {
  <app-pagination
    [totalPages]="totalPages"
    [(page)]="page"
    [(itemsPerPage)]="itemsPerPage"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  />
  }
</div>

<!-- Modal de criação -->
<div
  class="modal fade"
  id="modalCreate"
  tabindex="-1"
  aria-labelledby="modalCreateLabel"
  aria-hidden="true"
>
  <app-modal-create
    [customerToEdit]="selectedCustomer || null"
    (saveCustomer)="handleSaveCustomer($event)"
  />
</div>

<!-- Modal de exclusão -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModal"
  aria-hidden="true"
>
  <app-modal-delete
    [customer]="selectedCustomer"
    (deleteCustomer)="deleteCustomer($event)"
  />
</div>
